.footer{
    background-color:#F0E5F7;
    padding:15px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.socialmedia{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.footersection{
    display: flex;
    flex-direction: column;
}

@media (max-width:1150px){
    .footer{
        grid-template-columns: repeat(2,1fr);
        text-align: center;
    }
}
@media (max-width:650px){
    .footer{
        grid-template-columns: repeat(1,1fr);
        text-align: center;
    }
}