.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}
.searchcontainer{
    display: flex;
    align-items: center;
}
.searchcontainer input{
    border: 1px solid #ddd;
    background-color: transparent;
    width: 100%;
    padding: 7px 12px;
    border-radius: 4px;
    font-size: 18px;
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 768px) {
.cancgecontainer{
    display: none;
}
    
}