@font-face {
  font-family: homa;
  src: url(./Assets/fonts/homa.ttf) format("truetype");
}

@font-face {
  font-family: yekan;
  src: url(./Assets/fonts/yekan.ttf) format("truetype");
}

@font-face {
  font-family: dastnevis;
  src: url(./Assets/fonts/dastnevis.ttf) format("truetype");
}

@font-face {
  font-family: vazir;
  src: url(./Assets/fonts/vazir-fd.ttf) format("truetype");
}

@font-face {
  font-family: iransans;
  src: url(./Assets/fonts/woff/IRANSansX-Regular.woff) format("woff");
  src: url(./Assets/fonts/woff2/IRANSansX-Regular.woff2) format("woff2");
}

@font-face {
  font-family: material-icons;
  src: url(./Assets/fonts/MaterialIcons-Regular.ttf) format("truetype");
  src: url(./Assets/fonts/MaterialIconsSharp-Regular.otf);
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.material-icons {
  font-family: material-icons, serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.custom-map-control-button {
  /*noinspection CssInvalidPropertyValue*/
  appearance: button;
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 5px 10px;
  height: 40px;
  overflow: hidden;
}

.no_select {
  user-select: none;
}

.map_icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map_icon.active {
  background-color: #8b8b8b;
  color: white;
}

:root {
  --theme-color: rgb(255, 195, 1);
  --theme-close-color: #ebc858;
  --opposit-theme-color: #fff;
  --first-text-color: #fff;
  --second-text-color: #000;
  --third-text-color: rgb(255, 122, 89);
  --shadow: rgba(0, 0, 0, 0.1);
  --background: #fff;
  --fade: rgba(0, 0, 0, 0.25);
  font-family: iransans, vazir, homa, "system-ui";
  background-color: white;
  --background-color: white;
  --max: 700px;
}

.sortable_tree.rtl {
  direction: rtl;
}

.goog-te-banner-frame.skiptranslate {
  display: none;
}

#google_translate_element {
  display: none;
  visibility: hidden;
  z-index: -1;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  height: 5px;
  background-color: #cccccc;
}
*{
  font-family: iransans, vazir, homa, "system-ui";
}
button,li{
  font-family: iransans, vazir, homa, "system-ui";
}
img{
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body,
html,
.App,
#root {
  height: 100%;
  max-width: initial !important;
  margin: auto;
  background-color: #F9FAFC;
  overflow-x: hidden;
}

body {
  margin: 0 !important;
  top: 0 !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  background-attachment: fixed;
}

/* side bar */

.rst__rowTitle {
  display: block;
}

.rst__rowLabel {
  width: 100%;
  padding-inline-start: 0.3em;
}

div.rst__rtl.rst__rowLabel {
    padding-inline-start: 0;
    padding-inline-end: 0.3em;
}
a,a:hover{
  color: #000;
  text-decoration: none;
}
button :active,:visited,:checked{
  background-color: transparent !important;
}
.rst__toolbarButton svg {
    width: 1.4em;
    padding: 0 0.2em;
    height: 100%;
}

.pro-icon {
    font-size: 1.7em;
}

div.pro-sidebar {
    z-index: 1201;
}

div.pro-sidebar>.pro-sidebar-inner>.pro-sidebar-layout {
    overflow: unset;
}

div.pro-sidebar>.pro-sidebar-inner>.pro-sidebar-layout .pro-sidebar-content {
    overflow-y: auto;
}

/* sidebar end */

.skiptranslate {
    display: none !important;
}

/* loginSliderDesktop */

#loginSliderDesktop .swiper-pagination {
    position: relative;
    margin-top: min(8.3vh, 90px);
}

#loginSliderDesktop .swiper-pagination .swiper-pagination-bullet {
    width: 32px;
    height: 0;
    margin: 0 16px 0 0;
    border: 2px solid rgba(0, 0, 0, 0.57);
    background-color: rgba(0, 0, 0, 0.87);
    border-radius: 3px;
    padding: 0;
}

#loginSliderDesktop .swiper-pagination .swiper-pagination-bullet .swiper-pagination-bullet-active {
    opacity: 0.87;
}

/* react-menu */

.App {
    font-size: 1.7em;
    position: relative;
}

.chat-btn {
    display: none;
}

.notification::after {
    right: 150px !important;
    transform: rotate(180deg) !important;
    bottom: 100% !important;
    top: auto !important;
}

.notification {
    right: auto !important;
    left: calc(50% - 280px) !important;
    bottom: auto !important;
    top: 80px;
    z-index: 9999!important;
}

@media (max-width: 90em) {
    .App {
        font-size: 1.5em;
    }

    .notification {
        left: calc(50% - 300px) !important;
        top: 72px;
    }

}

@media (max-width: 78em) {
    .App {
        font-size: 1.4em;
    }

    .notification {
        left: calc(50% - 305px) !important;
        top: 65px;
    }

}

@media (max-width: 66em) {
    .App {
        font-size: 1.3em;
    }

    .notification {
        left: calc(50% - 315px) !important;
        top: 60px;
    }
}

@media (max-width: 48em) {
    .App {
        font-size: 1.2em;
    }

    .notification {
        left: calc(50% - 325px) !important;
    }
}

@media (max-width: 700px) {
    .notification {
        bottom: auto !important;
        left: 25px !important;
    }
}

@media (max-width: 27em) {
    .App {
        font-size: 1em;
    }

    .notification {
        top: 52px;
        left: 8px !important;
    }
}

.Toastify__toast {
  font-family: inherit;
}

.Toastify__toast-body {
  font-family: inherit;
}

body[data-show-crisp="false"] .chat-main {
  display: none !important;
}

/* Color Gradient Picker */
/* ---------------------------------------------------------------------------------- */
.color-hue-alpha{
  margin-left:0 !important;
}
.preview-area{
  display: none;
}
/* .ui-color-picker{
  width:100%;
  padding:1em;
  box-sizing: border-box;
  border-radius: 5px;
  margin-left:0 !important;
  margin-right:0 !important;
} */


/* ---------------------------------------------------------------------------------- */
